.footer {
    height: 100px;
    background-color: #f3b4b4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.footer2 {
    height: 100px;
    background-color: #c1c9e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.footer__text {
    margin: 5px;
    text-align: center;
}