.App {
  text-align: center;
  
}

.nav-tabs {
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:
  50px;
  font-size:18px
}

.tab_item1 {
  text-decoration-line: none;
  color: rgb(95, 25, 25); 
  padding:10px 20px;
  border-radius:50px;
  font-weight:700;
  cursor:pointer;
  background:#fdf7f7;
  transition:all .3s
}
.tab_item1:hover, .tab_item2:hover{padding:10px 30px}
.tab_item1.active{color:#fff;background:#f3b4b4}


.tab_item2 {
  text-decoration-line: none;
  color: rgb(14, 6, 80); 
  padding:10px 20px;
  border-radius:50px;
  font-weight:700;
  cursor:pointer;
  background:#eff0f4;
  transition:all .3s
}

.tab_item2.active{color:#fff;background:#96aee8}

.title {
  font-weight: bold;
  font-size: xx-large;
}

.container {
  margin: 0;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flower {
  width: 150px;
}

.butterfly {
  width: 230px;
}

button {
  cursor: pointer;
}

.bc-white {
  background-color: white;
}

.bc-pink {
  background-color: #fdf7f7;;
}

.bc-blue {
  background-color: #dde3f2;;
}
