.App {
  text-align: center;
  
}

a {
  text-decoration-line: none;
  color: rgb(95, 25, 25); 
}

.nav-tabs {
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:
  50px;
  font-size:18px
}

.nav-link {
  padding:10px 20px;
  border-radius:50px;
  font-weight:700;
  cursor:pointer;
  background:#fdf7f7;
  transition:all .3s
}
.nav-link:hover{padding:10px 30px}
.nav-link.active{color:#fff;background:#f3b4b4}

.title {
  font-size: xx-large;
}

.container {
  margin: 0;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flower {
  width: 150px;
}

button {
  cursor: pointer;
}

.bc-white {
  background-color: white;
}

.bc-pink {
  background-color: #fdf7f7;;
}
